.RegisterFormcontainer{
    max-width: 610px;
    min-width: 340px;
    height: 584px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.10);
    border-radius: 5px;
    background-color: #fff;
}
.RegisterFormWrapper{
    margin: 0 auto;
    padding: 0 50px;
    /* width:300px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.RegisterForm-Logo{
   display: flex;
   justify-content: center;
   padding-top: 28px;
   padding-bottom: 16px;
}
.RegisterForm-form{
    flex-grow: 1;
   
}
.RegisterForm-inputs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 90px 90PX 90PX;
    grid-column-gap: 20px;
}

.RegisterForm-btn{
    cursor: pointer;
    border: none;
    background-color:#0F4674;

    height: 36px;
    width: 100%;
    border-radius: 4px;
    margin-top: 38px;
    margin-bottom: 18px;

    color: #f0f1f2; 
    font-size: 12px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0.03em;
    text-align: center;
    transition: 0.5s;
}
.RegisterForm-btn:hover{
    /* background:#22cb8a; */
    background-color: #0c3050;
    transition: 0.8s;
}

.RegisterForm-register{
    font-size: 14px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #283366;
    margin-top: 18px;
    margin-bottom: 32px;
}
.RegisterForm-register span{
    color: #E51D35;
    cursor: pointer;
}
.RegisterForm-register span:hover{
    text-decoration: underline;
}
@media only screen and (max-width: 520px) {
    .RegisterFormcontainer{
        height: auto;
        box-shadow: none;
    }

}
@media only screen and (max-width: 450px) {
    .RegisterFormcontainer{
       height: 100vh;
       width: 100vw;
    }
    .RegisterForm-inputs{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6,90px);
        grid-column-gap: 20px;
    }
}